.ButtonContainer,
.DisabledButton {
  border: none;
  width: 100%;
  padding: 14px 24px;
  border-radius: 9999px;
  background: #25d085;

  color: #fff;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px; /* 144.444% */
  letter-spacing: -0.18px;
}
.DisabledButton {
  background: #e7e9ec;
  color: #b1b8c0;
}
