.PageWrapper {
  height: 100vh;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;

  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;
}
.PageWrapper::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.HeaderContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  height: 56px;
  padding: 0 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-bottom: 1px solid #eee;
}

.ArrowBackIcon {
  padding: 12px;
}

.PageTitle {
  color: #151719;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
  letter-spacing: -0.16px;
}

.CompleteText {
  padding: 12px;
  color: #25d085;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
  letter-spacing: -0.16px;
}

.ContentWrapper {
  flex: 1;
  margin-top: 56px; /* HeaderContainer 높이 */
  padding: 0 16px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-bottom: 60px;

  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;
}
.ContentWrapper::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.ButtonWrapper {
  position: absolute;
  width: calc(100% - 32px);
  bottom: 60px;
  left: 16px;
  right: 16px;
}
